* {
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background: #f6f5f7;
    background-image: url(/static/Images/banner.jpg);
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 95vh;
	margin: 0;
}

.container {
	background-color: #00000070;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.5),
			0 10px 10px rgba(0,0,0,0.4);
	width: 550px;
	max-width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.header {
	margin: 0;
	font-size: 46px;
	color: rgb(19, 196, 42);
}

.floating-button {
	text-decoration: none;
	display: inline-block;
	width: 140px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	margin: 10px 20px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	color: rgba(45, 142, 58, 0.878);
	background: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .3s;
  }
  .floating-button:hover {
	background-color: rgba(45, 142, 58, 0.878);
	box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
	color: white;
	transform: translateY(-7px);
  }

  .center {
	  text-align: center;
	  font-style: italic;
	  color: white;
	  font-size: larger;
  }