* {
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background: #f6f5f7;
    background-image: url(Images/page404.jpg);
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 95vh;
	margin: 0;
}

.container {
	background-color: #00000070;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	width: 340px;
	max-width: 100%;
	min-height: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-left: 20px;
}

.header {
	margin: 0;
	font-size: 46px;
	color: white;
}

.floating-button {
	text-decoration: none;
	display: inline-block;
	width: 320px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	margin: 10px 20px;
	font-size: 20px;
	font-stretch: ultra-condensed;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 600;
	color: #524f4e;
	background: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .3s;
  }
  .floating-button:hover {
	background-color: lightgray;
	box-shadow: 0 15px 20px black;
	color: black;
	transform: translateY(-7px);
  }

  .img {
	  width: 320px;
	  height: 160px;
  }