* {
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(59, 61, 61, 0.1);
    height: 70px;
    display: flex;
    justify-content: space-between;
}

body {
	background: white;
}

.container-1{
    color: rgb(75,164,71);
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.create_request_button{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    background: rgb(75,164,71);
    border-radius: 5px;
    border-color: rgb(58, 126, 55);
    border-style: solid;
    border-width: 1px;
    min-height: 35px;
    min-width: 100px;
    max-height: 35px;
    max-width: 100px;
    margin-top: 15px;
    margin-right: 10px;
    transition: .4s;
    line-height: 1;
}

#text_button1{
    text-align: center;
    margin: 8px;
}

#text_button2{
    text-align: center;
    margin: 2px;
}

.create_request_button:hover{
    color: rgb(75,164,71);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    background: rgba(112, 112, 112, 0.1);
    border-color: rgba(0, 0, 0, 0.35);
    transition: .4s;
    cursor: pointer;
}

.chat{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    background: rgb(75,164,71);
    border-radius: 5px;
    border-color: rgb(58, 126, 55);
    border-style: solid;
    border-width: 1px;
    min-height: 35px;
    min-width: 60px;
    max-height: 35px;
    max-width: 60px;
    margin-top: 15px;
    transition: .4s;

}

.chat:hover{
    color: rgb(75,164,71);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    background: rgba(112, 112, 112, 0.1);
    border-color: rgba(0, 0, 0, 0.35);
    transition: .4s;
    cursor: pointer;
}

.account{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgb(75,164,71);
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    transition: .4s;
}

.account:hover{
    color: rgb(64, 187, 58);
    transition: .4s;
    cursor: pointer;
}

.title{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(75,164,71);
    font-stretch: ultra-condensed;
    line-height: 0.8;
    margin: 5px;
    padding: 5px;
    text-align: left;
    flex: 3;
}

.title > a {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    color: inherit;
}

body, .menu {
  margin: 0;
  padding: 0;
}

.menu, .menu .filter_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu {
    
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid rgba(59, 61, 61, 0.1);
    width: 100%;
}

.filter_name {
    min-height: 30px;
    min-width: 50px;
    max-height: 30px;
    max-width: 200px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    background: rgb(75,164,71);
    border-radius: 5px;
    border-color: rgb(58, 126, 55);
    border-style: solid;
    border-width: 1px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .4s;
    margin: 15px;
    padding: 5px;
}

.filter_name:hover {
    color: rgb(75,164,71);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    background: rgba(112, 112, 112, 0.1);
    border-color: rgba(0, 0, 0, 0.35);
    transition: .4s;
    cursor: pointer;
}

.container-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-2 .type-1{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 20px;
    
    height: 250px;
    width: 450px;
    left: 0;
    bottom: 0px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(58,164,73), rgb(17,59,62));
    cursor: pointer;
    position: relative;
}

.container-2 .type-2{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 20px;

    height: 250px;
    width: 450px;
    left: 0;
    bottom: 0px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(17,59,62), rgb(58,164,73));
    cursor: pointer;
    position: relative;

}

.text-in-card{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}

footer{
    position: fixed;
    background: rgb(24,26,30);
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
}

.other-footer-info{
    margin-top: 20px;
    margin-left: 20px; 
    margin-bottom: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Footer-name-info{
    height:20px;
    width:100%;
    border-top:1px solid #9EC1D4;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    text-align: right;
}