{% extends 'base.html' %}

{% block title %}
    Поиск попутчиков
{% endblock %}

{% block content %}
    <div class="container-2">
        <div class="type-1">
            <div class="text-in-card">Карточка водителя</div>
        </div>
        <div class="type-2">
            <div class="text-in-card">Карточка пассажира</div>
        </div>
        <div class="type-1">
            <div class="text-in-card">Карточка водителя</div>
        </div>
        <div class="type-2">
            <div class="text-in-card">Карточка пассажира</div>
        </div> 
        <div class="type-1">
            <div class="text-in-card">Карточка водителя</div>
        </div>
        <div class="type-2">
            <div class="text-in-card">Карточка пассажира</div>
        </div> 
        <div class="type-1">
            <div class="text-in-card">Карточка водителя</div>
        </div>
        <div class="type-2">
            <div class="text-in-card">Карточка пассажира</div>
        </div> 
        <div class="type-1">
            <div class="text-in-card">Карточка водителя</div>
        </div>
        <div class="type-2">
            <div class="text-in-card">Карточка пассажира</div>
        </div>  
    </div>
{% endblock %}
