{% extends 'base.html' %}

{% block title %}
    Поиск попутчиков
{% endblock %}

{% block content %}

    <div class="filter">
    
        <div class="filter-container2">
          <div class="filter-container">
            <input class="hide" id="hd-1" type="checkbox" >
              <label class="filter_button" for="hd-1"><p id="filter_button_name">Фильтр</p></label>
                <div class="buttons">
                  <div class="request_button"><a href=" {{ url_for('main') }} ">Все заявки</a></div>
                  <div class="request_button"><a href=" {{ url_for('passengers') }} ">Просят подвести</a></div>
                  <div class="request_button"><a href=" {{ url_for('drivers') }} ">Могут подвести</a></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container-2">
        {% for post in posts %}
            <a href="{{ url_for('about', id=post.id)}}" target="_blank">    
                <div class="{{ post.isType }}">
                    <div class="text-in-card">
                        <div class="container-icon">
                            <span class="material-icons class icon">
                                {% if post.isType == 'driver' %}
                                    directions_car
                                {% else %}
                                    person
                                {% endif %}
                            </span>
                            <div class="nickname">{{ post.driverName }}</div>
                        </div>
                        <div class="text-container">
                            <div class="glue-text">
                                <div class="text_title">Пункт отправки:</div>
                                <div class="text_info">{{ post.idBeginPoint }}</div>
                            </div>
                            <div class="glue-text">
                                <div class="text_title">Пункт прибытия:</div>
                                <div class="text_info">{{ post.idEndPoint }}</div>
                            </div>
                            <div class="glue-text">
                                <div class="text_title">Дата и время отправки:</div>
                                <div class="text_info">{{ post.time }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}