{% extends 'base.html' %}

{% block title %}
    Поиск попутчиков
{% endblock %}

{% block content %}
    <div class="container-2">
        {% for post in posts %}
            <a href="{{ url_for('about', id=post.id)}}" target="_blank">    
                <div class="type-1">
                    <div class="text-in-card">{{ post.isDriver }}</div>
                    <div class="text-in-card">{{ post.time }}</div>
                    <div class="text-in-card">{{ post.id }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
