{% extends 'base.html' %}

{% block title %}
    Поиск попутчиков
{% endblock %}

{% block content %}
    <div class="container-2">
        {% for post in posts %}
            <a href="{{ url_for('about', id=post.id)}}" target="_blank">    
                <div class="{{ post.isType }}">
                    <div class="text-in-card">
                        <div class="container-icon">
                            <span class="material-icons class icon">
                                {% if post.isType == 'driver' %}
                                    directions_car
                                {% else %}
                                    directions_car
                                {% endif %}
                            </span>
                        </div>
                        <div class="text-container">
                            <div class="glue-text">
                                <div class="text_title">Пункт отправки:</div>
                                <div class="text_info">{{ post.idBeginPoint }}</div>
                            </div>
                            <div class="glue-text">
                                <div class="text_title">Пункт прибытия:</div>
                                <div class="text_info">{{ post.idEndPoint }}</div>
                            </div>
                            <div class="glue-text">
                                <div class="text_title">Дата и время отправки:</div>
                                <div class="text_info">{{ post.time }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}